pytest
coverage
wheel
flake8
click
https://github.com/bcurnow/rfid-reader/releases/download/v1.0.1/rfidreader-1.0.1-py3-none-any.whl
requests
RPi.GPIO
adafruit-circuitpython-neopixel
rpi-ws281x
pydub
simpleaudio
