audioop-lts
pytest
coverage
ruff
wheel
click
click-config-file
rfidreader[evdev,mfrc522] @ git+https://github.com/bcurnow/rfid-reader.git
requests
adafruit-circuitpython-neopixel
rpi-ws281x
pydub
simpleaudio
pyyaml
