pytest
coverage
wheel
flake8
click
click-config-file
git+https://github.com/bcurnow/rfid-reader.git#egg=rfidreader[evdev, mfrc522]
requests
adafruit-circuitpython-neopixel
rpi-ws281x
pydub
simpleaudio
pyyaml
